<h1>CART</h1>
<%= render "cart_list", {cart: @cart} %>
<%= link_to '繼續選購', products_path, class:'btn btn-success' %>
<%= link_to '立刻結帳', checkout_cart_path, class:'btn btn-danger' unless @cart.empty? %>
